{
  "printWidth": 120,
  "bracketSameLine": true,
  "tabWidth": 2,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
