---
layout: layouts/base.njk

pagination:
  data: languages
  size: 1
  alias: lang

permalink: '/{{ lang.code }}/'
---

{% set sections = i18n[lang.code].sections %}
{% include "components/lang-switcher.njk" %}
{% include "components/hero.njk" %}

<div class="divider-badge-wrapper">
  <span class="divider-badge">{{ sections.projects }}</span>
</div>

{% include "components/videos.njk" %}

<div class="divider-badge-wrapper">
  <span class="divider-badge">{{ sections.solutions }}</span>
</div>

{% include "components/service-card.njk" %}

<div class="divider-badge-wrapper">
  <span class="divider-badge">{{ sections.process }}</span>
</div>

{% include "components/how-works.njk" %}

<div class="divider-badge-wrapper">
  <span class="divider-badge">{{ sections.tools }}</span>
</div>
{% include "components/tools.njk" %}
{% include "components/cta.njk" %}

<section id="faq" class="section">
  <h2 class="section-title">{{ "sections.questions" | t }}</h2>
  {% include "components/accordion.njk" %}
</section>

{% include "components/footer.njk" %}
